# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ZW_xsl_dev\flask_demo_sanmaoji\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
